@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

a {
    color: #30CFD0;
    font-size: 1.3rem;
    padding: 1.3rem;
    text-decoration: none;
    padding-bottom: 2rem;
}

.navbar-name {
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.d-block.w-100 { 
    height:70vh; 
    width:auto; 
    object-fit:cover;
    object-position: 50% 0%;

}

.carousel-caption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: hsla(0, 0%, 20%, 0.4);
    color: white;
    padding-bottom: 2rem;
}

.header-overlay {
    position: relative;
    bottom: 20px;
    right: 0px;
    left: 0px;
}

.header1 {
    font-size: 1rem;
    font-weight:700;
    padding-top: .8rem;
}

.slider-para {
    font-size: 1rem;
    font-weight:300;
    padding-top: .8rem;
}

.card {
    border: none;
    background-color: transparent;
}

.card li {
    border: none;
    background-color: transparent;

}

.list-group-item {
    border: none;
}

.card-link {
    background-color: antiquewhite;
}

.card-title-package {
    font-size: 2.25rem;
    font-weight: bold;
    color: #231D4F;
    padding-bottom: 1.875rem;
}
.card-subtitle-package {
    font-size: 1.75rem;
    font-weight: 600;
    color: #231D4F;
    padding-bottom: .8rem;
}
.card-para-package,.list-group-item {
    font-size: 1rem;
    font-weight: 300;
    color: #848199;
    margin-bottom: 0.1rem;
}

.hot-card .list-group-item {
    color: white;
}
.hot-card .card-title-package {
    color: white;
}
.hot-card .card-subtitle-package {
    color: white;
}
.hot-card .card-para-package {
    color: white;
}

.card-para-package {
    line-height: 1.7rem;
    font-size: 1rem;
    font-weight: 400;
}

.fas,.fa-check-circle {
    color: lightcoralrgba(82, 67, 194, 0.1037);
    padding-right: .3rem;
    font-size: 1.2rem;
}

.btn-package {
    background-color: #ebf3ff;
    margin-top: 10px;
    width: 70%;
}
.btn-package a{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
}

div .btn-package{
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-header {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 6rem;

}

.hot-card {
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    height: 480px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}

.card-notify-year {
    position: absolute;
    right: 10px;
    top: -55px;
    text-align: center;
    color: #fff;      
    font-size: .9rem;
    padding: 5px 15px;
    background: #FF4E4E;
    border-radius: 1rem;
}


@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    
    .header1 {
        font-size: 2rem;
        font-weight:700;
    }
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 75%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .header1 {
        font-size: 2rem;
        font-weight:700;
    }
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 75%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }

}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .header1 {
        font-size: 2rem;
        font-weight:700;
    }
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 75%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }

}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 100%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
    
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 100%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 100%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 100%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .hot-card {
        background: #3F87F5;
        box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
        border-radius: 26px;
        width: 100%;
        height: 480px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
/* Styles */
}